In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

from IPython.display import display
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score

warnings.filterwarnings('ignore')
%matplotlib inline

df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
# df = pd.read_csv('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [22]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'PerformanceScore', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [23]:
df = df[['MonthlyIncome', 'MonthlyRate', 'DailyRate', 'PercentSalaryHike']]

df.head()

   MonthlyIncome  MonthlyRate  DailyRate  PercentSalaryHike
0           5993        19479       1102                 11
1           5130        24907        279                 23
2           2090         2396       1373                 15
3           2909        23159       1392                 11
4           3468        16632        591                 12

In [4]:
# lblEmpDepartment = LabelEncoder()
# df['EmpDepartment'] = lblEmpDepartment.fit_transform(df['EmpDepartment'])

# lblEmpJobRole = LabelEncoder()
# df['EmpJobRole'] = lblEmpJobRole.fit_transform(df['EmpJobRole'])

# df.head()

,EmpDepartment,EmpJobRole,EmpEnvironmentSatisfaction,EmpLastSalaryHikePercent,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,5,13,4,12,2,10,7,0,8
1,5,13,4,12,3,7,7,1,7
2,5,13,4,21,3,18,13,1,12
3,3,8,2,15,2,21,6,12,6
4,5,13,1,14,3,2,2,2,2

In [25]:
x = df.drop(["PercentSalaryHike"], axis=1)
y_psh = df["PercentSalaryHike"]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y_psh,test_size=0.2,random_state=0)

In [27]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [28]:
#DecisionTreeClassifier

dtc=DecisionTreeClassifier(random_state=42,splitter='best')
parameters=[{'min_samples_split':[2,3,4,5],'criterion':['gini']},{'min_samples_split':[2,3,4,5],'criterion':['entropy']}]

dtc_model=GridSearchCV(estimator=dtc, param_grid=parameters, scoring='accuracy',cv=10)
dtc_model.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=42),
             param_grid=[{'criterion': ['gini'],
                          'min_samples_split': [2, 3, 4, 5]},
                         {'criterion': ['entropy'],
                          'min_samples_split': [2, 3, 4, 5]}],
             scoring='accuracy')

In [29]:
dtc_model.best_params_

{'criterion': 'gini', 'min_samples_split': 4}

In [30]:
# Predicting the decision tree classifier model
y_predict_dtc = dtc_model.predict(x_test)

In [31]:
# Finding the accuracy and classification report
print(accuracy_score(y_test,y_predict_dtc))
print(classification_report(y_test,y_predict_dtc))

0.1326530612244898
              precision    recall  f1-score   support

          11       0.22      0.26      0.24        39
          12       0.18      0.26      0.21        34
          13       0.16      0.21      0.18        38
          14       0.17      0.15      0.16        47
          15       0.00      0.00      0.00        16
          16       0.14      0.11      0.12        19
          17       0.00      0.00      0.00        13
          18       0.19      0.12      0.15        25
          19       0.00      0.00      0.00        14
          20       0.00      0.00      0.00        13
          21       0.00      0.00      0.00         8
          22       0.00      0.00      0.00        14
          23       0.00      0.00      0.00         7
          24       0.00      0.00      0.00         3
          25       0.00      0.00      0.00         4

    accuracy                           0.13       294
   macro avg       0.07      0.07      0.07       294
weighted avg       0.12      0.13      0.13       294

In [32]:
# Training the model using Naive Bayes 
model_nb = BernoulliNB()
model_nb.fit(x_train,y_train)

BernoulliNB()

In [33]:
y_predict_nb = model_nb.predict(x_test)

In [34]:
print(accuracy_score(y_test,y_predict_nb))
print(classification_report(y_test,y_predict_nb))

0.14625850340136054
              precision    recall  f1-score   support

          11       0.15      0.41      0.21        39
          12       0.13      0.35      0.20        34
          13       0.16      0.18      0.17        38
          14       0.15      0.17      0.16        47
          15       0.00      0.00      0.00        16
          16       0.00      0.00      0.00        19
          17       0.00      0.00      0.00        13
          18       0.00      0.00      0.00        25
          19       0.00      0.00      0.00        14
          20       0.00      0.00      0.00        13
          21       0.00      0.00      0.00         8
          22       0.00      0.00      0.00        14
          23       0.00      0.00      0.00         7
          24       0.00      0.00      0.00         3
          25       0.00      0.00      0.00         4

    accuracy                           0.15       294
   macro avg       0.04      0.07      0.05       294
weighted avg       0.08      0.15      0.10       294

In [35]:
decsRegressor = DecisionTreeRegressor(random_state=0)
decsRegressor.fit(x_train, y_train)

DecisionTreeRegressor(random_state=0)

In [36]:
y_predict_dtr = decsRegressor.predict(x_test)

In [37]:
print(accuracy_score(y_test,y_predict_dtr))
print(classification_report(y_test,y_predict_dtr))

0.09863945578231292
              precision    recall  f1-score   support

          11       0.16      0.18      0.17        39
          12       0.12      0.15      0.14        34
          13       0.07      0.08      0.07        38
          14       0.19      0.15      0.17        47
          15       0.12      0.12      0.12        16
          16       0.08      0.05      0.06        19
          17       0.00      0.00      0.00        13
          18       0.10      0.08      0.09        25
          19       0.07      0.07      0.07        14
          20       0.00      0.00      0.00        13
          21       0.00      0.00      0.00         8
          22       0.09      0.07      0.08        14
          23       0.00      0.00      0.00         7
          24       0.00      0.00      0.00         3
          25       0.00      0.00      0.00         4

    accuracy                           0.10       294
   macro avg       0.07      0.06      0.06       294
weighted avg       0.10      0.10      0.10       294